:root{
  font-size: 62.5%;
  --blue-color: steelblue;
  --gray-color: dimgray;
  --yellow-color: yellow;
  --brown-color: rosybrown;
  --unfold-size: 30rem;
  --translate-right: 15rem;
  --transition-time: 1s;
  --translate-left: -15rem
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.unfold {
  position: relative;
  width: var(--unfold-size);
  height: var(--unfold-size);
  margin: 10rem auto;
  line-height: var(--unfold-size);
  text-align: center;
  font-size: 3rem;
}
.item {
  width: 50%;
  height: 50%;
  position: absolute;
  transition: var(--transition-time);
}
.blue {
  background-color: var(--blue-color);
  top: 0;
  left: 0;
}
.gray {
  background-color: var(--gray-color);
  top: 0;
  right: 0;
}
.yellow {
  background-color: var(--yellow-color);
  bottom: 0;
  left: 0;
}
.brown {
  background-color: var(--brown-color);
  bottom: 0;
  right: 0;;
}
.unfold:hover .blue {
  transform: translate(var(--translate-left)) rotate(90deg);
}
.unfold:hover .gray {
  transform: translate(var(--translate-right)) rotate(-90deg);
}
.unfold:hover .yellow {
  transform: translate(var(--translate-left)) rotate(-90deg);
}
.unfold:hover .brown {
  transform: translate(var(--translate-right)) rotate(90deg);
}
